.card{
  position:absolute;
  left: calc(50% - 150px);
  top: 100px;
  padding: 1rem;
  z-index: 20;
  width: 300px;
  height: 500px;
  background-color: var(--white);
  border-radius: 1rem;
  &--action{
    composes: card;
    background-color: var(--action-light);
  }
  &--fact{
    composes: card;
    background-color: var(--fact-light);
  }
  &--actor{
    composes: card;
    background-color: var(--actor-light);
  }
  &--quiz{
    composes: card;
    background-color: var(--quiz-light);
  }
}
.image{
  margin-left: -1rem;
  margin-right: -1rem;
}
.header{
  height: 50px;
  background: var(--black);
  color: var(--white);
  margin: -1rem -1rem;
  margin-bottom: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-family: var(--title-font);
  border-radius: 1rem 1rem 0 0;
}
.type{
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.buttons{
  position:absolute;
  top:60px;
  left: 10px;
  width: calc(100% - 2rem);
}
.title{
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 2rem;
}
