.btn{
  max-width: 300px;
  min-width: 200px;
  color:var(--black);
  padding: 0.8rem 2rem 1rem 2rem;
  border: 1px solid var(--black);
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: var(--white);
  &--transparent{
    composes: btn;
    border: none;
    background: transparent;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 2em;
  }
  &--circle{
    font-size: 1.5rem;
    padding: 1.2rem;
    display:flex;
    align-items: center;
    composes: btn;
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
  }
}


