.sky{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(var(--sky-blue), var(--sky-white) 90%);
  overflow:hidden;
  z-index: -1;
}
.hill {
  position: absolute;
  background: linear-gradient(var(--grass-green), var(--dark-grass-green) 40%);
  border-radius: 100% 100% 0 0;
  box-shadow: 0 0 10px 0 rgba(var(--sky-blue), .4);
}
.hill-left {
  top: 60%;
  left: -75%;
  width: 140%;
  padding: 40%;
}
.hill-right {
  top: 63%;
  right: -70%;
  width: 130%;
  padding: 40%;
}
.hill-center {
  top: 65%;
  left: -30%;
  width: 150%;
  padding: 40%;
}
