.tile{
  position: absolute;
  width: 90px;
  height: 90px;
  display:flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  box-shadow: -4px 4px 10px gray;
  &--empty{
    composes: tile;
    background: #e9dbc5;
  }
  &--quiz{
    composes: tile;
    background: var(--quiz);
  }
  &--fact{
    composes: tile;
    background: var(--fact);
  }
  &--action{
    composes: tile;
    background: var(--action);
  }
  &--actor{
    composes: tile;
    background: var(--actor);
  }
}
.destination{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
}



