.game{
  overflow:hidden;
  width: 100%;
  height: 500px;
}
.dice{
  position:absolute;
  width: calc(100% - 1rem);
  display:flex;
  justify-content: center;
  bottom: 150px;
  right: 10px;
  z-index: 10;
}
