
@use "sass:meta";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Raleway:ital,wght@0,100;0,400;0,700;1,400&display=swap');
$font-title: 'Dosis', sans-serif;
$font-text: 'Raleway', sans-serif;

:root {
  //colors
  --black: hsl(200, 100%, 8%);
  --white: hsl(0, 23%, 97%);
  --sky-blue: hsl(200, 100%, 67%);
  --sky-white: hsl(189, 100%, 88%);
  --grass-green: hsl(122, 45%, 88%);
  --dark-grass-green: hsl(122, 19%, 34%);
  --dirt-brown: hsl(13, 45%, 88%);

  --quiz: #aee292;
  --fact: #f8c6d0;
  --action: #d7d2f5;
  --actor: #b1efef;
  --quiz-light: #d6ffbf;
  --fact-light: #f8cfd7;
  --action-light: #eae6ff;
  --actor-light: #ccffff;
  //fonts
  --title-font: #{meta.inspect($font-title)};
  --text-font: #{meta.inspect($font-text)};
}
