@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
